<div class="row">
  <h1>Educación</h1>
  <div class="col-lg-1"></div>
  <div class="col-lg-11">
    <ul>
      <li>
        <h1>Colegio “Nuestra Señora de la Misericordia”</h1>
        <h3>(2006-2020)</h3>
      </li>
      <p>Preescolar - Nivel Primario - Nivel Secundario
        Bachillerato en Ciencias Sociales</p>
    </ul>
    <ul>
      <li>
        <h1>Aacademia de inglés Profesora Susana Perrone</h1>
        <h3>(2015-2020)</h3>
      </li>
      <p>Ingles Británico</p>
    </ul>
    <ul>
      <li>
        <h1>Conceptos básicos de marketing digital</h1>
        <h3>(2021-2021)</h3>
      </li>
      <p>Google Garage Digital-
        Organismo internacional de juventud-
        Banco interamericano de desarrollo</p>
    </ul>
    <ul>
      <li>
        <h1>Fotografía movil</h1>
        <h3>(2021-2021)</h3>
      </li>
      <p>Udemy
        Exposición, luz, mejoras, colores y balances.</p>
    </ul>
    <ul>
      <li>
        <h1>Introddución al branding: Diseño de logotipos</h1>
        <h3>(2021-2021)</h3>
      </li>
      <p>Crehana</p>
    </ul>
    <ul>
      <li>
        <h1>Desarrollo web - HTML5</h1>
        <h3>(2022-2022)</h3>
      </li>
      <p>Udemy
        Temas: Estructura, especificación W3C, etiquetas, atributos, enlaces, rutas, listas, tablas, imágenes, audio y video, formularios.</p>
    </ul>
    <ul>
      <li>
        <h1>Curso Argentina programa -#Sé programar</h1>
        <h3>(2021-2022)</h3>
      </li>
      <p>CESSI Argentina
        Gobstones, JavaScript, Ruby.</p>
    </ul>
    <ul>
      <li>
        <h1>Curso Argentina programa -#Yo programo</h1>
        <h3>(2022-2022)</h3>
      </li>
      <p>Desarrollo web y aplicaciones,Front End estático, desarrollo web dinámico, bases de datos, POO, Java, Dev Ops.</p>
    </ul>

  </div>

</div>

