<div class="row">
  <h1>Habilidades duras y blandas</h1>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="80"
    [radius]="100"
    [showUnits]="false"
    [showSubtitle]="false"
    [title]="'HTML'"
    [titleColor]="'#ffff'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#f06529'"
    [innerStrokeColor]="'#e34c26
    '"
    [animation]="true"
    [animationDuration]="600"
  ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="75"
    [radius]="100"
    [showUnits]="false"
    [showSubtitle]="false"
    [title]="'JavaScript'"
    [titleColor]="'#ffff'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#f0db4f'"
    [innerStrokeColor]="'#e6d775'"
    [animation]="true"
    [animationDuration]="600"
  ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="60"
    [radius]="100"
    [showUnits]="false"
    [showSubtitle]="false"
    [title]="'CSS'"
    [titleColor]="'#ffff'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#1e88e5'"
    [innerStrokeColor]="'#1976d2'"
    [animation]="true"
    [animationDuration]="600"
  ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="75"
    [radius]="100"
    [showUnits]="false"
    [showSubtitle]="false"
    [title]="'Trabajo en equipo'"
    [titleColor]="'#ffff'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#8e24aa'"
    [innerStrokeColor]="'#7b1fa2'"
    [animation]="true"
    [animationDuration]="600"
  ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="80"
    [radius]="100"
    [showUnits]="false"
    [showSubtitle]="false"
    [title]="'Resiliencia'"
    [titleColor]="'#ffff'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#6cdf23'"
    [innerStrokeColor]="'#7be23a'"
    [animation]="true"
    [animationDuration]="600"
  ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="90"
    [radius]="100"
    [showUnits]="false"
    [showSubtitle]="false"
    [title]="'Compromiso'"
    [titleColor]="'#ffff'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#ed2939'"
    [innerStrokeColor]="'#d64242'"
    [animation]="true"
    [animationDuration]="600"
  ></circle-progress>
  </div>
</div>
