<div class="row">
  <h1>Experiencia laboral</h1>
  <div class="col-lg-1"></div>
  <div class="col-lg-11">
    <ul>
      <li>
        <h1>Marroquinería Reviere</h1>
        <h3>(2018-2019)</h3>
      </li>
      <p>Empleado
        Atención al público y cajera.</p>
    </ul>
    <ul>
      <li>
        <h1>Maestra de inglés particular</h1>
        <h3>(2020-2021)</h3>
      </li>
      <p>(autónomo)
        Alumnos de nivel primario</p>
    </ul>
    <ul>
      <li>
        <h1>Minimarket Multishop</h1>
        <h3>(2022-2022)</h3>
      </li>
      <p>Empleado
        Atención al público y cajera </p>
    </ul>
    <ul>
      <li>
        <h1>Panadería Pandys</h1>
        <h3>(2022-2022)</h3>
      </li>
      <p>Empleado
        Atención al público y cajera</p>
    </ul>

  </div>

</div>
