<div class="row">
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
  <img src="../../../assets/foto_perfil.jpg" class="img fluid" id="foto_perfil"
  class="fluid">
</div>
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
  <p id="nombre">Greta Sofía Petrussa</p>
  <p>Full Stack Developer Jr.</p>
</div>
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
  <span>
    <h1>Acerca de mí</h1>
    <p>Mis valores se basan en el compromiso, el orden y la eficiencia. Buscando insertarme en el ámbito laboral aportando mis conocimientos educativos que he podido absorber hasta el momento y los valores que hacen a mi persona.</p>
  </span>
</div>
</div>
